
.chord-index {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  color: tomato;
}

  .chord-item-container {
    display: flex;
    flex-direction: row;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /*color: tomato;*/
  }

    .chord-item {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      border: 2px solid;
      height: 50px;
      width: 50px;
      text-align: center;
      font-size: 20px;
    }

    .chord-item:hover {
      opacity: .6;
    }

    .branch {
      width: 30px;
      border: 1px solid;
      height: 0;
      padding: 0;
      margin: 0;
    }
